@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-x-auto {
    overflow-x: auto;
}

@keyframes fade-in {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-in {
    animation: fade-in 0.3s ease-out;
  }

@keyframes border-blink {
    0%, 100% {
      border-color: red;
    }
    50% {
      border-color: transparent;
    }
  }

  .border-blink {
    animation: border-blink 1s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

  .blink {
    animation: blink 1s infinite;
  }

  @keyframes blink2 {
    50%, 100% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(0.8); /* Darken the yellow icon */
    }
  }

  .blink2 {
    animation: blink2 1.75s infinite;
  }

  .main-content {
    padding-left: 16rem;
  }
